
button{background-color: green;
		width: 300px;
		margin: auto;
		font-size: 50px;
		}

#container{background-color: grey;
	margin: auto;
	font-size: 80px;
	}

a{background-color: red;}
